/* edit for view table with link*/

/* for standard draggable view  */
/* modified by khg98 */
.add-link{
	/*background-color: #e5eff4;*/
	padding: 2px 0px 2px 8px;
	/*margin: -10px 0px 0px 0px;*/
	margin: 0px 0px 0px 0px;
    /*border-width: 1px;*/
    border-width: 0px;
    /*border-style: solid;*/
    /*border-color: #BEBFB9;*/
    float: right;
}

.add-link a{
	padding: 0px 0px 0px 14px;
	background: transparent url(/themes/seven/images/add.png) no-repeat 0 center;
}

/* for standard draggable view  */
.add-link-in-pcrf{
	background-color: #e5eff4;
	padding: 2px 0px 2px 8px;
	margin: -65px 0px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #BEBFB9;
}

.add-link-in-pcrf a{
	padding: 0px 0px 0px 14px;
	background: transparent url(/themes/seven/images/add.png) no-repeat 0 center;
}


.view-with-link table th {
    text-transform: uppercase;
    background: #E1E2DC;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #BEBFB9;
    padding: 3px 10px;
}

.view-with-link table tr {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #BEBFB9;
}

/*edit for view table without link */
.view-without-link table th {
    text-transform: uppercase;
    background: #E1E2DC;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #BEBFB9;
    padding: 3px 10px;
}

.view-without-link table tr {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #BEBFB9;
}

.view-without-link table .views-row-last {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #BEBFB9;
}


/* add link in accordion message */
/*                               */
.add-link-in-accordion{	
    width: 400px;
    background-color: #e5eff4;
	padding: 2px 0px 2px 8px;
	margin: 0px 0px 30px 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #BEBFB9;
}

.add-link-in-accordion a{
	padding: 0px 0px 0px 14px;
	background: transparent url(/themes/seven/images/add.png) no-repeat 0 center;
}

.view-with-link-in-accordion {
    width: 410px;
}

.view-with-link-in-accordion table {
    margin: 10px 10px 0px 30px;
}

.view-with-link-in-accordion table th {
    text-transform: uppercase;
    background: #E1E2DC;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #BEBFB9;
    padding: 3px 10px;
}

.view-with-link-in-accordion table tr {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #BEBFB9;
}

/* view in rightpane */
/* modified by khg98 */
.add-link-in-rightpane{	
    width: 490px;
    /*background-color: #e5eff4;*/
	padding: 2px 0px 2px 8px;
	margin: 0px 0px 30px 0px;
    /*
    border-width: 1px;
    border-width: 1px;
    border-style: solid;
    */
    /*border-color: #BEBFB9;*/
    float: center;
}

.add-link-in-rightpane a{
	padding: 0px 0px 0px 14px;
	background: transparent url(/themes/seven/images/add.png) no-repeat 0 center;
    float: right;
}

.view-with-link-in-rightpane {
    width: 410px;
}

.view-with-link-in-rightpane .form-submit {
    margin: 30px 0px 0px 0px;
}

.view-with-link-in-rightpane table {
    margin: 10px 0px 0px 0px;
}

.view-with-link-in-rightpane table th {
    text-transform: uppercase;
    background: #E1E2DC;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #BEBFB9;
    padding: 3px 10px;
}

.view-with-link-in-rightpane table tr {
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #BEBFB9;
}

/* edit for embeded view table */
.embeded-view-class table tr{
    border: 0px;
}

/* edit for view table margin for action discount, allowance */
.pane-list-number-sp-rule-action-discount-panel-pane-1 {
	margin-top: 10px;
}
.pane-list-number-sp-rule-action-allowance-panel-pane-1 {
	margin-top: 10px;
}

/* ajax loaded quick tab 
#tree_content_div ul.quicktabs-tabs{
	display:none;
}
*/

/* ajax load vbo */
#tree_content_div fieldset.container-inline.collapsible.form-wrapper{
	display:none;
}

