.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-217-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-217-inside {
  padding-right: 0px;
}

.panels-flexible-217 {
  width: auto;
}

.panels-flexible-region-217-top {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-217-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-217-left {
  float: left;
  width: 29.6349%;
}

.panels-flexible-region-217-center {
  float: left;
  width: 69.3651%;
}

.panels-flexible-row-217-main-row-inside {
  padding-right: 0px;
}

